* {
  font-family: arial, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* ---------------------------------------------------- */

ul {
    list-style-type: none;
}
footer {
}

/* ---------------------------------------------------- */
.nav-left {
  display: inline;
  text-align: left;
}

.nav-right {
  display: inline;
}
/* ---------------------------------------------------- */


.foot-left {
  text-align: left;
  display: inline;
}
.foot-right {
  display: inline;
}
#google-logo{
}
