* {
  font-family: arial, Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* ---------------------------------------------------- */

ul {
    list-style-type: none;
}

/* ---------------------------------------------------- */
.nav-left {
  float: left; 
  display: inline;
  padding: 6.5px; 
}

.nav-right {
  display: inline;
  float: right;
  padding: 6.5px;
}
/* ---------------------------------------------------- */
#google-logo { 
  display: flex;
  position: absolute;
  top: 0;
  bottom: 300px;
  left: 0;
  right: 0;
  margin: auto;
}

.search-box {
  display: flex;
  overflow: hidden;
  width: 500px; 
  height: 40px;
  position: absolute; 
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #cfcece;
  border-radius: 15px;
}

.button {
  position: absolute; 
  top: 48%; 
  left: 42%; 
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  line-height: 30px;
}
#lucky {
  margin-left: 125px; 
}
/* ---------------------------------------------------- */
footer {
  background: #f2f2f2;
  color: #5f6368;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
}
footer li {
  padding-right: 25px;
}
.foot-left {
  display: inline-flex;
}
.foot-right { 
  float: right;
}

